html {
  font-family: sans-serif;
}
 
body {
  color:#33383E;
  font-family: sans-serif;
  margin:0;
}
 
.bg {
  height: 40vh;
  position: fixed;
  right:-10vw;
  bottom:0;
  z-index:-1;
  opacity:50%;
}

.mainlink{
  font-size: 4vw;
  width: 20vw;
  height: 20vw;
  border: solid #000054;
  margin:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  color: black;
  padding: 2vw;
  font-family: monospace;
  font-weight: 600;
}

.mainlink:hover {
  background-color: #8aa9d5;
  color:white;
}

.mainlink:active{
  background-color: #8e91bc;
}

 
.gradient_1 {
  width:100vw;
  height:18vh;
  position: fixed;
  background-image: linear-gradient(#ffffff, #ffffff00);
  z-index:100;
}

.gradient_2 {
  width:100vw;
  height:18vh;
  position: fixed;
  bottom:0;
  background-image: linear-gradient(#ffffff00, #ffffff);
  z-index:100;
}
 
 
 
 
div.c2 label input:hover ~ span {
  background-color: #425064;
  font-weight:bold;
  color:white;
  cursor: pointer;
}
 
div.c2 label input:checked ~ span {
  background-color: #425064;
  font-weight:bold;
  color:white;
}
 
div.c2 h1 {
  font-size:6vh;
  font-weight:bold;
}
 
div.c2 h2 {
  font-size: 2.5vw;
}
div.c2 span.q1a1 {
  margin-top: 2vh;
}
 
.c1 {
  position: fixed;
  font-family:fantasy;
  font-size: 250%;
  color: #0000001a;
  margin-left: 2vw;
  z-index:101;
}
 
 
.c3{
  height:100vh;
  z-index: -1;
  position:fixed;
  
}
 
 
div.d1ap label span {
  width: 10vw
}
 
div.b1 div {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  z-index:10;
}
 
 
 .textinput{
   width:60vw;
   text-align:center;
 }
 
 
 
div.c2 {
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  text-align: center;
}
 
 
div.c2 label span {
  background-color: #5b5f66;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
  width: 50vw;
  height:5vh;
  cursor: pointer;
  margin-top: 0;
  color: #ffffff;
  border-radius:2px;
  font-size: 2.4vh;
  box-sizing:border-box;
  padding:0.2vh;
}
 
 
 
.next {
  background-color:#3c4393;
  height:5vh;
  display:flex;
  justify-content: center;
  align-items:center;
  text-align:center;
  width: 20vw;
  border-radius:10px;
  font-weight:bold;
  color:#f1f2f4;
  font-size:2.4vh;
}
 
.next:hover {
  background-color:#3a7add;
  color:white;
  font-weight:bold;
  cursor: pointer;
}
 
 
div.c2 span.ma_1_submit {
  background-color:#3c4393;
  height:5vh;
  display:flex;
  justify-content: center;
  align-items:center;
  text-align:center;
  width: 20vw;
  border-radius:10px;
  font-weight:bold;
  color:#f1f2f4;
}
div.c2 span.ma_1_submit:hover {
  background-color:#3a7add;
  color:white;
  font-weight:bold;
  cursor: pointer;
}


div.b1 {
  background-color: #ffffffbf;
  height: 70vh;
  width: 70vw;
  display:flex;
  justify-content:center;
  text-align:center;
  align-items:center;
  flex-direction:column;
  padding:5vh;
  margin-bottom:10vh;
  z-index:10;
}
 
 
form div.c2.q3 div.b1 div.c4 {
  display:inline;
}
 
 
form div.c2 div.b1 div.c4 label span {
  width:13vw;
  display:inline-block;
  box-sizing:border-box;
  /* padding: 1.1vh; */
  color: #ffffff;
  font-weight: 200;
  vertical-align: middle;
}
 
form div.c2 div.b1 div.c4 label input:hover~span {
  color:white;
  font-weight:bold;
} 
 
 
form div.y {
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  text-align: center;
}
 
div.c5 {
  padding: 2vh;
  
 
}
 
div.b1 select {
  font-size:200%;
  text-align:center;
  padding-left: 2vw;
  padding-top:0.5vh;
  padding-bottom:0.5vh;
}
 
input::-webkit-calendar-picker-indicator {
  display: none;
}
 
i.fas{
transform: translate(0px, 0px);
-webkit-transition: opacity 200ms ease, color 750ms ease;
transition: opacity 200ms ease, color 250ms ease;
cursor:pointer;
 
 
}
i.fas:hover {
    color:#a9bbff;
}
 
 
div.b1ap {
  display: flex;
  background-color: #ffffff82;
  width: 70vw;
  justify-content:center;
  text-align:center;
  align-items:center;
  flex-direction:column;
  padding:2vw;
  height: 70vh;
}

div.b1ap div {
  width:100%;
}
 
 
div.b1ap label {
    width: 23.5%;
    box-sizing: border-box;
}
div.b1ap label span {
    width:100%;
    font-size: 2.4vh;
}
 

 
 
 
 
 
 
 
 
 
select {
  width: 40vw;
}
 
 
 
 
@media (max-width: 500px) {
 div.b1 {
   width:100vw;
   padding: 0;
   margin-bottom:0;
}
  div.c2 h2 {
  font-size: 6vw;
  padding-right:3vw;
  padding-left:3vw;
}

div.c2 label span {
  width: 80vw;
  height:7vh;
  font-size: 2.4vh;
  padding:1vw;
}
.c1 {
  position: fixed;
  font-family:fantasy;
  font-size: 170%;
  color: #0000001a;
  margin-left: 2vw;
  z-index:101;
}

.bg {
  height: 20vh;
  position: fixed;
  right:-10vw;
  bottom:0;
  z-index:-1;
  opacity:50%;
}

.gradient_1 {
  width:100vw;
  height: 10vh;
  position: fixed;
  background-image: linear-gradient(#ffffff, #ffffff00);
  z-index:100;
}

.gradient_2 {
  width:100vw;
  height: 10vh;
  position: fixed;
  bottom:0;
  background-image: linear-gradient(#ffffff00, #ffffff);
  z-index:100;
}

div.b1ap {
  width:100vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

div.b1ap label {
    width: 23.5%;
    box-sizing: border-box;
}
div.b1ap label span {
    width:100%;
    font-size: 2.4vh;
}
}
 
