
body {
    background-color: #fffefa;
    padding: 0px;
    margin:0;
}
form div.y {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#251100;
}

div.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

div.intro div {
    background-color: #bd96aa03;
    margin: 10px;
    height: 200px;
    width: 200px;
    border: 1.5px solid #ac1c6445;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5a0731;
    font-weight:bold;
}

div.intro div:hover {
    background-color: #501230;
    color:white;
}

form div.y label span {
    background-color: #eef1f3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: helvetica;
    width:180px;
    height: 25px;
    cursor: pointer;
    margin-top: 0.3vh;
    color: #000000;
    border-radius:2px;
    border: 1px solid #cdd1d5;
    font-size: 17px;
}

form div.y.q2 label span.q2a1q4a1{
    background-color: #dad0d5;
    color: #696469;
    font-weight:bold;
}

form div.y.q2 label span.q2a1q4a1:hover{
    background-color: #ac1c64;
    color:white;
    font-weight:bold;
}

form div.y label input {
    display: none;
}


form div.q1 {
    display: flex;
    width: 100vw;
}
form div.q1 div h1 {
    color: #ac1c64;
    font-family: sans-serif;
    text-align: center;

}

form div.q4 h1 {
    color: #ac1c64;
    font-family: sans-serif;
    text-align: center;
}

form div.q3 h1 {
    color: #ac1c64;
    font-family: sans-serif;
    text-align: center;
}

form div.q2 h1 {
    color: #ac1c64;
    font-family: sans-serif;
    text-align: center;
}

form div.aptime label span {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    align-items: center;
    padding-top: 2px;
    box-sizing: border-box;
}

form div.y.q2 {
    display: flex;
    flex-direction: column;
    
}





form div.y label input:hover ~ span {
    background-color: #989898d6;


}

form div.y label input:checked ~ span {
    background-color: #0091ea;
   color: white
}


h3.up {
    position: fixed;
    width: 100vw;
    text-align: center;
    margin-top: 5vh;
    color: #8080802b;
}

h3.up:hover{
    color:gray;
    cursor:pointer;
}




form div.y div#subbtn {
    width:200px;
    height:40px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form div.y input#subbtn {
   width:180px;
    height: 25px;
    background-color: #eef1f3;
    border-radius:2px;
    border: 1px solid #cdd1d5;
    margin: 20px;
}
form div.y input#subbtn:hover {
    background-color: #989898d6;

}

form div.y input#subbtn:checked {
    background-color: #eef1f3;
    border: 4px solid #2da2e9;
}

div.test {
    display: none;
}